* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}
/* ======= Veriable ======= */
:root {
  --primery-color: #10375c;
}
/* ======= Common ======= */
.main-content {
  width: 1170px;
  max-width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #575f66;
}
.text-center {
  text-align: center !important;
}
.heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.sub-heading {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.text-white {
  color: #fff !important;
}
.btn {
  display: inline-block;
  width: 205px;
  height: 60px;
  background: #2e80ce;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 15px 48px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.footer button:hover,
.btn:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translate(5px, -5px);
  -webkit-transform: translate(5px, -5px);
  -moz-transform: translate(5px, -5px);
  -ms-transform: translate(5px, -5px);
  -o-transform: translate(5px, -5px);
}
.arrow-nav {
  margin-top: 38px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.arrow-nav .next {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.arrow:hover {
  background: #2e80ce;
}
.arrow svg {
  stroke: #575f66;
}
.arrow:hover svg {
  stroke: white;
}
.flex-start {
  margin-top: 0;
  justify-content: start;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-name {
  margin-left: 6px;
  color: white;
  text-align: right;
}
.logo-name strong {
  font-weight: 400;
}
.logo .name p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
/* ======= Header ======= */
.hero {
  background: var(--primery-color);
}
.header {
  padding: 38px 0 16px;
}
.header.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--primery-color);
}
.header .body {
  display: flex;
  justify-content: space-between;
}
.header .nav {
  display: flex;
  gap: 42px;
}
.header .nav a {
  color: #c9d2da;
  text-align: center;
  line-height: 1.75; /* 175% */
}
.header .auth .auth-link:hover,
.header .nav li:hover a {
  color: white;
  font-weight: 400;
}
.header .auth-link {
  padding: 8px 20px;
  color: #c9d2da;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.header .auth-link.active {
  width: 104px;
  height: 44px;
  background: #2e80ce;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  color: #fff;
  font-weight: 400;
  cursor: default;
}
.header .auth-link--signup {
  margin-left: 28px;
}
/* ======= Hero ======= */
.hero .body {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 110px;
}
.hero .content .heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero .content .desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .content .info {
  margin-top: 38px;
}
.hero .content .info a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.67; /* 166.667% */
}
.hero .content .book-btn {
  padding: 15px 46px;
  border-radius: 30px;
  background: #2e80ce;
  margin-right: 38px;
}
.hero .img {
  display: flex;
  margin-left: 131px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.hero .img .img1 {
  width: 210px;
  height: 410px;
  margin-top: 65px;
}
/* ======= Services ======= */
.services {
  margin: 170px 0;
}
.services .body {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.services .body img {
  width: 570px;
  height: 570px;
  object-fit: contain;
}
.services-info {
  margin-left: 130px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.services-list {
  margin-bottom: 55px;
}
.services .item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  margin-top: 8px;
}
.services .item:hover {
  cursor: pointer;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services .item .icon {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}
.services .item .icon svg {
  width: 60%;
  height: 60%;
  fill: #10375c;
}
.services .item:hover .icon {
  background: #2e80ce;
}
.services .item:hover svg {
  fill: white;
}
.services .item {
  padding: 22px;
}
.services .item .info {
  margin-left: 20px;
}
.services .item .info svg {
  object-fit: cover;
}
.services .item .title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.services .item .desc {
  margin-top: 8px;
  color: #575f66;
  line-height: 1.75; /* 175% */
}
/* ======= How it work ======= */
.howitwork {
  background: #f6fbff;
}
.howitwork .body {
  padding: 100px 0;
}
.howitwork .body .list {
  margin-top: 70px;
  display: flex;
  gap: 46px;
}
.howitwork .body .item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.howitwork .body .item:hover {
  border: 16px solid #2e80ce;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
.howitwork .body .item-body {
  padding: 42px;
}
.howitwork .item-body .icon {
  width: 72px;
  height: 72px;
}
.howitwork .item-body .title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.howitwork .item-body .desc {
  color: #575f66;
  line-height: 1.75; /* 175% */
}
.howitwork .item-body .learn-more:hover {
  font-weight: 600;
}
/* ======= About ======= */
.about {
  margin-top: 170px;
}
.about .body {
  display: flex;
  height: 491px;
}
.about .images {
  display: flex;
  width: 49%;
  position: relative;
}
.about .images img {
  border-radius: 6px;
}
.about .images .img1 {
  width: 512px;
  height: 370px;
  object-fit: cover;
}
.about .images .img2 {
  width: 332px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.about .content {
  width: 51%;
  width: 470px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-btn {
  margin-top: 38px;
}
/* ======= Team ======= */
.team {
  margin-top: 170px;
}
.team .team-btn {
  margin-top: 38px;
  width: 100%;
  text-align: center;
}
.btn-meetour {
  padding: 15px 26px;
}
.team .list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}
.team .item {
  text-align: center;
}
.team .item img {
  width: 270px;
  height: 318px;
  object-fit: cover;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.team .item .team-name {
  margin-top: 12px;
  color: #10375c;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.team .item .team-text {
  color: #575f66;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
/* ======= CTA ======= */
.cta-group {
  margin-top: 261px;
}
.cta-group .body {
  display: flex;
  justify-content: space-between;
  background: #2e80ce;
}
.cta-group .cta {
  width: 38%;
  position: relative;
}
.cta-group .cta img {
  position: absolute;
  bottom: 0;
  left: 70px;
}
.cta-group .content {
  width: 62%;
  padding: 76px 70px;
}
.cta-group .download-apps {
  margin-top: 38px;
  display: flex;
  gap: 28px;
}
/* ======= Blog ======= */
.blog {
  margin: 170px 0;
}
.blog .body {
  display: flex;
  justify-content: space-between;
}
.blog .content {
  width: 40%;
}
.blog .blog-link {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /*155.556%*/
  display: inline-block;
  margin: 28px 0;
  text-decoration: underline;
}
.blog .blog-link:hover {
  color: #2e80ce;
}
.blog .info {
  width: 60%;
  margin-left: 130px;
}
.blog .list {
  display: flex;
  gap: 30px;
}
.blog .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.blog .learn-more:hover a {
  cursor: pointer;
  color: #2e80ce;
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.blog .item img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.blog .item:hover img {
  cursor: pointer;
}
.blog .item .item-body {
  padding: 18px 22px;
}
.blog .item-body .title {
  color: #10375c;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
}
.blog .item-body .desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
}
.blog .item a {
  display: block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}
/* ======= Contact ======= */
.contact .body {
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.contact .heading {
  position: relative;
}
.contact .heading:after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.contact .sub-heading-contact {
  margin: 38px 0;
}
/* ======= Footer ======= */
.footer {
  font-family: "Open Sans", sans-serif;
  background: var(--primery-color);
}
.footer .body {
  border-bottom: 1px solid #406181;
}
.footer .content {
  display: flex;
  gap: 78px;
  padding: 100px 0 0;
}
.footer .col-2 {
  width: calc(1170px / 12 * 2);
}
.footer .col-4 {
  width: calc(1170px / 12 * 4);
}
.footer-logo-desc {
  margin-top: 21px;
  font-size: 1.6rem;
  color: #a9b3bb;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.footer .content .heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-bottom: 20px;
}
.footer .content .list {
  margin: 0 0 28px;
}
.footer .content .item a {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  padding: 5px 0;
}
.footer .content .item:hover a {
  color: white;
}
.footer .social-list {
  margin: 20px 0 28px;
  display: flex;
}
.footer .social-list .item a {
  display: inline-block;
  padding-right: 10px;
}
.footer .desc {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.footer .input-email {
  margin-top: 10px;
}
.footer input {
  padding: 10px;
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  /*185.714%*/
  background: var(--primery-color);
  outline: none;
  border: 1px solid #406181;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.footer button {
  border-radius: 4px;
  background: #2e80ce;
  padding: 10px 21px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
  border: none;
}
.footer .social-list li:hover circle {
  fill: #2e80ce;
}
.footer .social-list li:hover path {
  fill: white;
}
.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .copyright p {
  padding: 16px 0;
  color: #aab3ba;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
